* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

h1 { font-size: 50px; }
h2 { font-size: 40px; margin: 20px 0;}

article {
    color: white;
    width: 100%;
}

.slideRules {
    background: darkred;
    font-size: 30px;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.slideRules:hover {
    cursor: pointer;
}

#rules {
    padding: 20px;
    color: black;
    background: lightblue;
    font-size: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

.progress {
    position: fixed;
    top: 40vh;
    left: 1vw;
    padding: 10px;
    width: 400px;
    height: 400px;
}

.progress p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.img { width: 60%; margin-top: 20px; }
.img img {
    width: 100%;
    box-shadow: 0 0 10px black;
}

.answer {
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#inputTask1 {
    border: none;
    border-bottom: 1px solid black;
    font-size: 30px;
}

#inputTask1:focus {
    outline: none;
}

#btnTask1 {
    font-size: 30px;
    color: white;
    background: darkred;
    padding: 10px;
}

#btnTask1 {
    cursor: pointer;
}

#nextTask {
    position: fixed;
    right: 2vw;
    top: 30vh;
    width: 150px;
    font-size: 30px;
    padding: 10px;
    color: white;
    background: darkred;
    text-align: center;
    border-radius: 10px;
    display: none;
}